reco/B2a_CB_build/
.vscode/
**.old
bkg_gen/pythia8309_build
bkg_gen/pythia8309_root
bkg_gen/pythia8309_src
**.tgz
bkg_gen/main_fct
**.log
Makefile**
output/
**/test/
set_env.sh
sim/
analysis/*.csv
analysis/*.root
